<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block head_title %}Blog{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    </head>
    <body>
        <!-- Responsive navbar-->
        {% include 'blog/navbar.html' %}
        <!-- Page header with logo and tagline-->
        <header class="bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <strong class="fw-bolder" style="font-size:85pt; margin:0px;">Hello, World!</strong>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8" id="main-area">
                    <!-- Featured blog post-->

                    {% block main_area %}
                    {% endblock %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-search"></i> 검색</i></div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="여기서 검색하세요!" aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button"><i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>

                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-hashtag"></i> 카테고리</div>
                        <div class="card-body">
                            <div class="row">
                                    <ul style="padding-left: 0px;">
                                        {% for category in categories %}

                                        &nbsp&nbsp&nbsp&nbsp <i class="fa-solid fa-{{ category.post_set.count }}"></i>&nbsp<a href="{{ category.get_absolute_url }}" style="text-decoration: none;">{{ category }}</a>
                                            <br>
                                        {% endfor %}

                                        &nbsp&nbsp&nbsp&nbsp <i class="fa-solid fa-{{ no_category_post_count }}"></i>&nbsp<a href="/blog/category/no_category/" style="text-decoration: none;">미분류</a>

                                    </ul>

                            </div>
                        </div>
                    </div>

                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header"><i class="fas fa-bars"></i> 사이드 위젯</div>
                        <div class="card-body">위에 이름과, 이름자 소학교 마디씩 나는 딴은 까닭입니다. 별 같이 하나 우는 아름다운 강아지, 가난한 봅니다. 별 별 릴케 듯합니다. 멀듯이, 별 이국 속의 때 패, 이런 아스라히 흙으로 봅니다. 가난한 잔디가 무성할 하나에 위에도 어머니, 둘 것은 그리고 있습니다. 어머님, 사람들의 것은 하나에 벌레는 버리었습니다.</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer-->
        {% include 'blog/footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://kit.fontawesome.com/2d1e6104b0.js" crossorigin="anonymous"></script>
    </body>
</html>


